/*JAI SHREE RAM*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1.7rem;
    /* flex-wrap: wrap; */
}

.main>h1 {
    font-size: 3rem;
    font-weight: 900;
}
.main>h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.item {
    /* height: 50%; */
    width: 100%;
    /* flex-shrink: 0; */
    /* margin-bottom: 1.5rem; */
    background-color: lightgoldenrodyellow;
    border: 2px solid rgb(164, 164, 164);
    display: grid;
    gap: 20px;
    grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f";
}

@media (min-width: 1080px) {
    .item {
        /* width: 100%; */
        gap: 20px;
        display: grid;
        grid-template-areas: 
        "a b c d"
        "e f . .";
    }
}

img {
    object-fit: cover;
    /* object-position: center; */
    aspect-ratio: 16/9;
    width: 100%;
    /* display: none; */

}

.btm::before {
    content: "";
    display: block;
    width: 100vw;
    border-top: 3px solid rgb(231, 231, 231);
    margin-bottom: 1rem;
    /* margin: 0rem 1.7rem 1rem 1.7rem; */
}

.btm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 1.7rem;
    padding: 1.5rem 0.5rem;
    color: rgb(137, 137, 137);
}

.image-a {
    grid-area: a;
}
.image-b {
    grid-area: b;
}
.image-c {
    grid-area: c;
}
.image-d {
    grid-area: d;
}
.image-e {
    grid-area: e;
}
.image-f {
    grid-area: f;
}